* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0C0E11;
}

.particles-frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #0C0E11;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 28px;
}

.img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease-out;
  margin: 20px;
}

.img-container:hover {
  transform: scale(1.1);
}

.img-container img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: all 0.3s ease-out;
}

.img-container:hover img {
  transform: scale(1.2);
  transform-origin: center center;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  height: 300px; 
  width: 300px;
  margin: auto;
  z-index: 999;
}

.center:hover {
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 1000;
}

.center .img-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.center img {
  max-width: 100%;
  max-height: 100%;
  transition: all 0.3s ease-out;
}

.center:hover img {
  transform: scale(1.2);
  transform-origin: center center;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.peach {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffcc99;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  position: relative;
  z-index: 1;
}

.newSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
  color: white;
}

#section2 {
  margin-top: 40px;
  animation: float-in 1s ease-in forwards;
}

@keyframes float-in {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
